<div id="update-bookroom-modal" class="modal">
  <div class="modal-content-private">
    <div class="modal-header-private">
      <h5>Edit Bookroom -PRIVATE-</h5>
      <span class="modalClose" id="update-page-close-button">×</span>
    </div>
    <form
      name="updateBookroomForm"
      class="modal-body-private"
      action="/private_bookrooms/update/{{ bookroom.id }}"
      method="POST"
    >
      <input
        type="text"
        value="{{ bookroom.name }}"
        placeholder="今読んでいる本のタイトルなどのテーマを入力"
        class="bookroom-form-input-private"
        name="bookroom_name"
        required
      />
      <textarea class="bookroom-form-input-wide-private"
        value="{{ bookroom.description }}"
        placeholder="BOOKROOMの詳細文を入力
(例: 今月の課題図書！など)"
        name="bookroom_description"></textarea>
      <div class="tag-search">
            <h5> タグを設定する</h5>
            <div class="tag-container-wrapper"> 
                <div class="tag-group">
                {% for tag in tags %}
                  {% if tag.id in selected_tag_ids %}
                    <label>
                      <input type="checkbox" name="tag_ids" value="{{ tag.id }}" checked>
                        {{ tag.name }}
                    </label>
                  {% else %}
                    <label>
                      <input type="checkbox" name="tag_ids" value="{{ tag.id }}">
                        {{ tag.name }}
                    </label>
                  {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% with messages = get_flashed_messages(category_filter=["updatebookroom_flash"]) %}
    {% if messages %}
      <div id="modal-flash-content">
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}{% endwith %}
      <button>EDIT</button>
    </form>
  </div>
</div>