
<div id="create-bookroom-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>MAKE BOOKROOM -PUBLIC-</h5>
      <span class="modalClose" id="add-page-close-button">×</span>
    </div>
    <form
      name="createBookroomForm"
      class="modal-body"
      action="/bookroom"
      method="POST"
    >
      <input
        type="text"
        placeholder=" 本の名前、著者名、ジャンルなどを入力"
        class="bookroom-form-input"
        name="bookroom_name"
        required
      />
      <input
        type="text"
        placeholder="BOOKROOMの紹介文を入力
(例: 00年代限定、学生集まれ、まったり読んでますなど)"
        class="bookroom-form-input-wide"
        name="bookroom_description"
      />
      <button>MAKE</button>
    </form>
  </div>
</div>