<div id="delete-bookroom-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Delete Bookroom -PUBLIC-</h5>
      <span class="modalClose" id="delete-page-close-button">×</span>
    </div>
    <form name="deleteBookroomForm" id="deleteBookroomForm" class="modal-body" action="" method="POST">
      <p>DELETEボタンを押すとブックルームが消えます</p>
      <p>本当によろしいですか？</p>
    <!--{% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="modal-flash-content">
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}{% endwith %}-->
      <button id="delete-bookroom-confirmation-button" class="button">DELETE</button>
    </form>
  </div>
</div>