<div id="delete-bookroom-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Delete Bookroom -PUBLIC-</h5>
      <span class="modalClose" id="delete-page-close-button">×</span>
    </div>
    <form name="deleteBookroomForm" id="deleteBookroomForm" class="modal-body" action="" method="POST">
      <p>削除ボタンを押すとブックルームが消えます</p>
      <p>本当によろしいですか？</p>
      <button id="delete-bookroom-confirmation-button" class="button">DELETE</button>
    </form>
  </div>
</div>