<div id="search-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>SEARCH IN HISTORY</h5>
      <span class="modalClose" id="search-page-close-button">×</span>
    </div>
    <form action="#" method="get">
    <div class="keyword-search">
            <h3> キーワードで探す</h3>
            <div class="keyword-search"">
                <input type="text" class ="keyword-input" name="q" placeholder="タイトル、著者名などを入力してください">
            </div>
        </div>
        
        <div class="tag-search">
            <h3> タグで絞り込む</h3>
            <div class="tag-container-wrapper"> 
                <div class="tag-group">
                    <label><input type="checkbox" name="tag_id[]" value=""> 文学・小説</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> ビジネス</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 歴史</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 科学</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> コミック</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 暮らし</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 料理</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 単行本</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 文庫本</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 雑誌</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 受賞作</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 新刊</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> 翻訳</label>
                    <label><input type="checkbox" name="tag_id[]" value=""> イラスト多め</label>
                </div>
                
            </div>
        </div>
        <button class = search-button>SEARCH</button>
      </form>
    </div>
  </div>     

<!--変数で持ってくる場合のタグ検索コード-->  
<!---<div class="search-section tag-search">
  <h2>タグで絞り込む</h2>
    <div class="tag-container-wrapper"> 
      <div class="tag-group">
        {% for tag in tag_list %}
          <label>
            <input type="checkbox" name="tag_ids[]" value="{{ tag.id }}"> 
              {{ tag.name }}
          </label>
        {% endfor %}
      </div>
    </div>
  </div>-->
