<div id="search-modal" class="modal">
  <div class="modal-content-private">
    <div class="modal-header-private">
      <h5>SEARCH IN PRIVATE</h5>
      <span class="modalClose" id="search-page-close-button">×</span>
    </div>
    <form action="#" method="get">
    <div class="keyword-search-private">
            <h3> キーワードで探す</h3>
            <div class="keyword-search">
                <input type="text" name="keyword" class ="keyword-input-private" placeholder="タイトル、著者名などを入力してください">
            </div>
        </div>
        
        <div class="tag-search">
            <h3> タグで絞り込む</h3>
            <div class="tag-container-wrapper"> 
                <div class="tag-group">
                  {% for tag in tags %}
                    <label>
                      <input type="checkbox" name="search_tag_ids" value="{{ tag.id }}">
                      {{ tag.name }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class = search-button-private>SEARCH</button>
      </form>
    </div>
  </div>     