<div id="update-profile-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>EDIT PROFILE</h5>
      <span class="modalClose" id="update-page-close-button">×</span>
    </div>
    <form
      name="updateProfile"
      class="modal-body"
      action="/profile/update"
      method="POST"
    >
      <input
        type="text"
        placeholder="変更後のnameを入力してください"
        class="bookroom-form-input"
        name="profile_name"
        required
      />
      <input
        type="text"
        placeholder="変更後のemailを入力してください"
        class="bookroom-form-input"
        name="profile_email"
        required
      />
      <input
        type="text"
        placeholder="passwordを入力してください"
        class="bookroom-form-input"
        name="password"
        required
      />
      <button>EDIT</button>
    </form>
  </div>
</div>