<div id="update-profile-email-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>EDIT EMAIL</h5>
      <span class="modalClose" id="update-email-close-button">×</span>
    </div>
    <form
      name="updateProfileEmail"
      class="modal-body"
      action="/profile/update"
      method="POST"
    >
      <input
        type="text"
        placeholder="変更後のemailを入力してください"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        class="bookroom-form-input"
        name="profile_email"
        required
      />
      <input
        type="password"
        placeholder="passwordを入力してください"
        class="bookroom-form-input"
        name="password"
        required
      />
      <button>EDIT</button>
    </form>
  </div>
</div>