div id="update-bookroom-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Edit Channel</h5>
      <span class="modalClose" id="update-page-close-button">×</span>
    </div>
    <form
      name="updateBookroomForm"
      class="modal-body"
      action="/public_bookrooms/update/{{ bookroom.id }}"
      method="POST"
    >
      <input
        type="text"
        placeholder="Bookroom name"
        class="bookroom-form-input"
        name="bookroom_Name"
        required
      />
      <input
        type="text"
        placeholder="Bookroom description"
        class="bookroom-form-input"
        name="bookroom_Description"
      />
      <button>EDIT</button>
    </form>
  </div>
</div>