<div id="update-icon-modal" class="modal">
  <div class="modal-icons-content">
    <div class="modal-header">
      <h5 id="modal-selecticon-title">SELECT ICON</h5>
      <span class="modalClose" id="update-icon-close-button">×</span>
    </div>
    <div class="icon_modal_body">
        <div id="icon_select_description">
            <p>変更したいアイコンをクリックしてください</p>
        </div>
        <form name="updateIcon" class="modal-icons-body" action="/icons/update" method="POST">
            <input class="icon_styled" type="button" value="icon画像1" name="icon1"/>
            <input class="icon_styled" type="button" value="icon画像2" name="icon2"/>
            <input class="icon_styled" type="button" value="icon画像3" name="icon3"/>
            <input class="icon_styled" type="button" value="icon画像4" name="icon4"/>
            <input class="icon_styled" type="button" value="icon画像5" name="icon5"/>
            <input class="icon_styled" type="button" value="icon画像6" name="icon6"/>
            <input class="icon_styled" type="button" value="icon画像7" name="icon7"/>
            <input class="icon_styled" type="button" value="icon画像8" name="icon8"/>
            <input class="icon_styled" type="button" value="icon画像9" name="icon9"/>
            <input class="icon_styled" type="button" value="icon画像10" name="icon10"/>
            <input class="icon_styled" type="button" value="icon画像11" name="icon11"/>
            <input class="icon_styled" type="button" value="icon画像12" name="icon12"/>
        </form>
    </div>
  </div>
</div>