{% extends "base.html" %}
<title>profile</title>
{% block body %}
<div class="main_container">

    <div id="profile">
      <h1>PROFILE</h1> 
      <div class="message-meta">
      <div id ="profile-contents">
    </div>
    
      <button class="update-bookroom-button" id="update-bookroom-button">
        <img src="{{ url_for('static', filename='img/pen.png') }}" alt="アイコン" >
      </button>
      </div>
    </div>
    <p>ユーザアイコンは{{icon}}</p>
    <p>{{uid}}がログインしています</p>
    <p>nameは{{name}}</p>
    <p>emailは{{email}}</p>
    <p>リアクションテーブルができたら、リアクション数を表示</p>
    <p>messages_countは{{messages_count}}</p>
</div>
{% endblock %}


