{% extends "base.html" %}

{% block title %}
<title>profile</title>
{% endblock %} 

{% block body %}
<div class="main_container">
    <div class="profile-title">
      <h1>PROFILE</h1> 
      <div id ="profile-contents">
      </div>
    </div>
    <div class="profile_display_items">
        <div>
            <p>ユーザアイコンは{{icon}}</p>
        </div>
        {# Floating Action Button #}
        <button class="update-icon-button" id="update-icon-button" label="iconの変更">
            アイコンを変更する
        </button>
        {% include 'modal/update-icon.html' %} 
        <div>
            <p>{{uid}}がログインしています</p>
        </div>
        <div>
            <p>nameは{{name}}</p>
        </div>
        <div>
            <p>emailは{{email}}</p>
        </div>
        <div>
            <p>リアクションテーブルができたら、リアクション数を表示</p>
        </div>
        <div>
            <p>messages_countは{{messages_count}}</p>
        </div>
        {# Floating Action Button #}
        <button class="update-profile-button" id="update-profile-button" label="nameとemailの変更">
            EDIT
        </button>
        {% include 'modal/update-profile.html' %} 
    </div>
</div>
{% endblock %}

{% block script %}
<script
  src="{{url_for('static',filename='js/profile/update-icon.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/profile/update-profile.js')}}"
  type="module"
></script>
{% endblock %}

