{% extends "base.html" %}

{% block title %}
<title>profile</title>
{% endblock %} 

{% block body %}
<body class="profile-body">
<div class="profile-main-container">
    <div class="profile-title">
      <h1>PROFILE</h1> 
      <div id ="profile-contents">
      </div>
    </div>
    <div class="profile-display-items">
        <!--アイコンの表示-->
        <img src="{{ url_for('static', filename='img/icon_rabbit.png')}}" alt="デフォルトのユーザーアイコン" id="current-profile-icon" width="130" height="130">
        <div class="button-position-adjustment">
            <div class="button-position-adjustment-space"></div>
            {# Floating Action Button #}
            <button class="update-profile-button" id="update-icon-button" label="iconの変更">
                <img class="button-image" src="{{ url_for('static', filename='img/pen.png') }}">
            </button>
            {% include 'modal/update-icon.html' %} 
        </div>
        <!--リアクション数とメッセージ投稿数の表示-->
        <div class="under-icon-position-adjustment">
          <div>
            <p>Get Reactions</p>
            <p class="profile-subtitle">330</p>
          </div>
          <div class="reactions-messages-bettween-position-adjustment">
          </div>
          <div>
            <p>talk in bookroom</p>
            <p class="profile-subtitle">{{messages_count}}</p>
          </div>
        </div>
        <!--your make bookroomsを表示して、そこからbookroomに行けるようにしたい
        <div>
          <p class="profile-subtitle">show bookrooms</p>
        </div>-->
        <!--nameの表示-->
        <div class="name-position-adjustment">
          <!--値確認用<p>ユーザアイコンは{{icon}}</p>-->
          <div class="button-position">
            <p  class="profile-subtitle">name</p>
            <div class="button-position-adjustment"></div>
              {# Floating Action Button #}
              <button class="update-profile-button" id="update-name-button" label="nameの変更">
                <img class="button-image" src="{{ url_for('static', filename='img/pen.png') }}">
              </button>
              {% include 'modal/update-profile-name.html' %} 
          </div>
          <div id="name-side-adjustment">
            <p>{{name}}</p>
          </div>
        </div>
        <!--emailの表示-->
        <div class="email-position-adjustment">
          <div class="button-position">
            <p class="profile-subtitle">email</p>
            <div class="button-position-adjustment"></div>
              {# Floating Action Button #}
              <button class="update-profile-button" id="update-email-button" label="emailの変更">
                <img class="button-image" src="{{ url_for('static', filename='img/pen.png') }}">
              </button>
              {% include 'modal/update-profile-email.html' %} 
          </div>
          <div id="email-side-adjustment">
            <p>{{email}}</p>
          </div>
        </div>
    </div>
</div>
</body>

{% endblock %}

{% block script %}
<script
  src="{{url_for('static',filename='js/profile/update-icon.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/profile/update-profile-name.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/profile/update-profile-email.js')}}"
  type="module"
></script>
{% endblock %}

<div id="name-display-container">
    <span class="label">name</span>
    <div class="edit-area">
        <p id="name-value">book5</p>
        <span class="edit-icon">✏️</span>
    </div>
    
    <form id="name-edit-form" class="edit-form-hidden">
        <input type="text" value="book5" name="profile_name">
        <button type="submit">保存</button>
    </form>
</div>