<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock %}
    <link rel="icon" href="../static/img/###" />#アイコンを作成する必要あり
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/bundled.css') }}">#CSSをバンドルするのか確認
    <link rel="preconnect" href="https://fonts.googleapis.com">#CSSファイルの読み込みを事前に済ませる(そのまま)
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#フォントファイル本体の読み込みを事前に済ませる(そのまま)
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet"" rel="stylesheet">#グーグルフォントでキウイ丸を指定
  </head>
  <body>
    {% block body %}{% endblock %}
    </div>
  </body>
</html>