{% extends 'auth/base.html' %} {% block title %}
<title>login</title>
{% endblock %} {% block body %}
<div class="auth-wrapper">
  <div class="auth-container">
    <img
      src="{{ url_for('static',filename='img/dokkai.png') }}"
      class="auth-main-pic"
    />
    <img
      src="{{ url_for('static',filename='img/dokkaimobile.png') }}"
      class="auth-mobile-pic"
    />
    <div class="auth-form-wrapper">
      <form class="auth-form" method="post">
        <h1 class="auth-title">DOKKAI</h1>
        <h3>読書会を探そう</h3>
        <div>
          <label for="email-input">Email</label>
          <input
            type="text"
            placeholder="メールアドレスを入力"
            name="email"
            id="email-input"
            value="{{email or''}}"
          />
        </div>
        <div>
          <label for="password-input">Password</label>
          <input
            type="password"
            placeholder="パスワードを入力"
            name="password"
            id="password-input"
            value="{{password or ''}}"
          />
        </div>
        <div class="auth-button-container">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}<!--フラッシュメッセージの取得(ログイン時エラー)-->
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <button class="auth-button wood">LOGIN</button>
          <a class="switch-auth-template" href="{{ url_for('signup_view') }}>
            Please signup!
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}