
<nav class="navbar">
  <div class="container">
    <div class="nav-container">
      <input class="checkbox" type="checkbox" name="" id="menu-toggle" />

      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <div class="menu-items">
        <ul>
          <li class ="logo">
            DOKKAI</li>
          <li class="page-links">
            <a href="public_bookrooms_view">
              <span class="icon">
                <img src="{{ url_for('static', filename='img/public.png')}}" alt="public_icon" width="24" height="24">
              </span>
              <span class="title">PUBLIC</span>
            </a>
          </li>
          <li class="page-links">
            <a href="#">
              <span class="icon">
                <img src="{{ url_for('static', filename='img/private.png')}}" alt="private_icon" width="24" height="24">
              </span>
              <span>PRIVATE</span>
            </a>
          </li>
          <li class="page-links">
            <a href="#">
              <span class="icon">
                <img src="{{ url_for('static', filename='img/history.png')}}" alt="history_icon" width="24" height="24">
              </span>
              <span>HISTORY</span>
            </a>
          </li>
          <li class="page-links">
            <a href="#">
              <span class="icon">
                <img src="{{ url_for('static', filename='img/profile.png')}}" alt="profile_icon" width="24" height="24">
              </span>
              <span>PROFILE</span>
            </a>
          </li>
          <li class="page-links">
            <a href="logout">
              <span class="icon">
                  <img src="{{ url_for('static', filename='img/signout.png')}}" alt="signout_icon" width="24" height="24">
              </span>
              <span>SIGNOUT</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>