* {
  float: none;
  position: static;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  color: var(--carbon);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: 900;
}

input,
textarea,
button {
  font-size: inherit;
  border: none;
  outline: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 16px;
}

input {
  letter-spacing: 0.1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--snow);
}

input:hover,
button:hover {
  cursor: pointer;
}

button {
  color: var(--snow);
  border: none;
  padding: 0.7em 3em;
  letter-spacing: 0.1rem;
}

:hover {
  transition: all 0.5s;
}

.wood,
button.wood {
  background-color: var(--wood);
}

.wood,
button.wood:hover {
  background-color: var(--brown);
}

.main-container {
  min-height: 100vh;
  width: 100%;
  padding-left: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.flash-container {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border-style: solid;
  border-color: red;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 9999;
}