/* brown,gray,woodのみ追加設置 */

:root {
  --snow: #ffffff;
  --carbon: #3e4149;
  --navy: #4e5b66;
  --ash_grey: #f0f0f0;
  --navy_blue: #122543;
  --salmon_pink: #f57978;
  --middle_pink: #f45554;
  --wood: #cfaf8d;
  --brown:#67504c;
  --gray: #988e8b;
  --shadow-light: rgba(0, 0, 0, 0.08); 
  --shadow-strong: rgba(0, 0, 0, 0.15); 
  --deep_green:#2b5f2a;
  --green: #589a33;
  --lightgreen:#e6edae;
  --lightblue:#00c4cc;

}
