/* 各モーダルのCSS */
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(240, 240, 240, 0.85);
  justify-content: center;
  align-items: center;
}

#create-bookroom-modal,
#update-bookroom-modal,
#delete-bookroom-modal,
#search-modal,
#update-profile-name-modal,
#update-profile-email-modal,
#update-icon-modal {
  display: none;
}

/* パブリック用 */
.modal-content {
  background-color: var(--snow);
  margin: 20% auto;
  width: 80%;
  border: 12px solid var(--brown);
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  position: relative;
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: var(--brown);
  padding: 3px 15px 3px 32px;
  color: var(--snow);
  display: flex;
  justify-content: space-between;
}

.modal-header h5,
.modal-header span {
  z-index: 4;
}

.modal-body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--snow);
  border-radius: 0 0 20px 20px;
}

.bookroom-form-input {
  width: 100%;
  border: 2px var(--wood) solid;
  border-radius: 6px; 
  outline: none;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0.5rem;
  color: var(--brown);
}

.bookroom-form-input-wide {
  width: 100%;
  border: 2px var(--wood) solid;
  border-radius: 6px; 
  outline: none;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 1.0rem;
  color: var(--brown);
}

.bookroom-form-input::placeholder {
  color: var(--gray);
  font-size: 0.8rem;
}

.bookroom-form-input-wide::placeholder {
  color: var(--gray);
  font-size: 0.8rem; 
  overflow-wrap: anywhere;
}

.bookroom-form-input:focus::placeholder {
  color: var(--snow); 
}  
.bookroom-form-input-wide:focus::placeholder {
  color: var(--snow);
}

.bookroom-form-input:focus {
  background-color: var(--brown);
  color: var(--snow);
}

.bookroom-form-input-wide:focus {
  background-color: var(--brown);
  color: var(--snow);
}

.bookroom-form-input:hover {
  background-color: var(--brown);
  color: var(--snow);
}

.bookroom-form-input-wide:hover {
  background-color: var(--brown);
  color: var(--snow);
}

.modal-gif {
  position: absolute;
  z-index: 2;
  top: -65px;
  left: 30%;
}

.modal-body p,
.modal-body a {
  width: 100%;
}

.modal-body button {
  width: 70%;
  background-color: var(--wood);
  border-radius: 50px; 
  box-shadow: 0 4px var(--brown);
  margin-top:20px;
}

#delete-bookroom-confirmation-button {
  width: 100%;
}

#deleteBookroomForm p {
  color: var(--brown);
  text-align: center;
}
.modal-body button:hover {
  background-color: var(--brown);
  box-shadow: 0 2px var(--brown);
  transform: translateY(2px); 

}


/* プライベート用 */
.modal-content-private {
  background-color: var(--snow);
  margin: 20% auto;
  width: 80%;
  border: 12px solid var(--green);
  border-radius: 6px; 
  animation-name: modalopen;
  animation-duration: 1s;
  position: relative;
}

.modal-header-private h1 {
  margin: 1rem 0;
}

.modal-header-private {
  background: var(--green);
  padding: 3px 15px 3px 32px;
  color: var(--snow);
  display: flex;
  justify-content: space-between;
}

.modal-header-private h5,
.modal-header-private span {
  z-index: 4;
}

.modal-body-private {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--snow);
  border-radius: 0 0 20px 20px;
}

.bookroom-form-input-private {
  width: 100%;
  background-color:var(--lightgreen);
  border-radius: 6px; 
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0.5rem;
  color: var(--brown);
}

.bookroom-form-input-wide-private {
  width: 100%;
  background-color:var(--lightgreen);
  border-radius: 6px; 
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 1.0rem;
  color: var(--brown);
}
.bookroom-form-input-private::placeholder {
  color: var(--brown);
  font-size: 0.8rem;
}
.bookroom-form-input-wide-private::placeholder {
  color: var(--brown);
  font-size: 0.8rem; 
  overflow-wrap: anywhere;
}
.bookroom-form-input-private:focus::placeholder {
  color: var(--snow); /* フォーカス時のプレースホルダーの文字色を雪色（白）にする */
}
.bookroom-form-input-wide-private:focus::placeholder {
  color: var(--snow); 
}
.bookroom-form-input-private:focus {
  background-color: var(--deep_green);
  color: var(--snow);
}
.bookroom-form-input-wide-private:focus {
  background-color: var(--deep_green);
  color: var(--snow);
}

.modal-gif {
  position: absolute;
  z-index: 2;
  top: -65px;
  left: 30%;
}

.modal-body-private p,
.modal-body-private a {
  width: 100%;
}

.modal-body-private button {
  width: 70%;
  background-color: var(--green);
  border-radius: 50px; 
  box-shadow: 0 4px var(--deep_green);
  margin-top: 20px;
}

.modal-body-private button:hover {
  background-color: var(--deep_green);
  box-shadow: 0 2px var(--deep_green);
  transform: translateY(2px); 
}


#delete-bookroom-confirmation-button {
  width: 100%;
}

#deleteBookroomForm p {
  color: var(--brown);
  text-align: center;
}


/*アイコン更新モーダル*/
.modal-icons-content {
  background-color: #FFFACD;
  border: 12px solid var(--brown);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.icon_modal_body {
  padding: 10px 0;
}

#icon-area {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: var(--snow);
}

.icon_styled {
  border: 0;
  background-color: #C0C0C0;
  height: 100px;
  width: 100px;
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
}

.icon-image{
  border-radius: 50px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  transition: filter 0.3s;
}

.icon_styled:hover .icon-image {
  filter: brightness(70%);
}

#modal-selecticon-title{
  text-align: center;
}

#icon_select_description{
  text-align: center;
}

#pagination_icon ul{
  padding: 0;
  margin: 0;
}

.page-btn{
  color: black;
  background-color: #FFFACD;
  padding: 8px;
}

.page-btn.active {
  color: royalblue;
}

/*アイコン更新モーダルここまで*/
/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 639px) {
  .modal-content {
    margin: 35% auto;
    width: 95%;
  }
  .modal-content-private {
    margin: 35% auto;
    width: 95%;
  }
  #modal-gif {
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 670px) {
  .modal-content {
    width: 95%;
  }
  .modal-content-private {
    width: 95%;
  }
  .modal {
    padding-left: 60px;
  }
}

@media only screen and (min-width: 671px) and (max-width: 1024px) {
  .modal-content {
    width: 80%;
  }
  .modal-content-private {
    width: 80%;
  }
  .modal {
    padding-left: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    width: 70%;
  }
  .modal-content-private {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .modal-content {
    width: 50%;
  }
  .modal-content-private {
    width: 50%;
  }
}
