/* 全体設定 */
.main-container {
  background-color: var(--snow);
  margin: 0;
  padding: 0;
  color: var(--brown);
  min-height: 100vh;
  display: flex;
  padding-left: 50px;
  align-items: flex-start;
  /* 上部に寄せる */
}

/* ================== ヘッダー部分 ================== */

.main-container{
  display: flex;
  flex-direction:column;

}

.profile-title { /* ヘッダー */
  position: fixed; 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px; 
  background-color: var(--brown);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 2; /* 他の要素より手前に */
}

.profile-title h1 { /* タイトル */
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  width: calc(100% - 50px);
}

/* ================== フローティングアクションボタン (FAB) ================== */
.create-profile-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 56px;
  height: 56px;
  border-radius: 75%;
  background-color: var(--green); 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem; /* アイコンのサイズ */
  box-shadow: 0 4px 10px var(--shadow-strong);
  cursor: pointer;
  z-index: 2;
  border: none;
  transition: background-color 0.2s, transform 0.2s;
}



/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 768px) {
  .main-container {
    padding-left: 0px;
  }
}
@media screen and (max-height: 768px){}
  .profile_display_items { 
    padding-top: 170px;
    margin-top: 0px; 
}
