/*=========全体設定==========*/

.profile-main-container{
  display: flex;
  /*padding-left: 50px;*/
  flex-direction:column;
  align-items: center;
  background-color: #FFFACD;
  margin: 0;
  color: var(--brown);
  min-height: 100vh;
}

/* ================== ヘッダー部分 ================== */
.profile-title { /* ヘッダー */
  position: fixed; 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px; 
  background-color: var(--brown);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 2; /* 他の要素より手前に */
}

.profile-title h1 { /* タイトル */
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  width: calc(100% - 50px);
}

/* ================== フローティングアクションボタン (FAB) ================== */
.create-profile-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 56px;
  height: 56px;
  border-radius: 75%;
  background-color: var(--green); 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem; /* アイコンのサイズ */
  box-shadow: 0 4px 10px var(--shadow-strong);
  cursor: pointer;
  z-index: 2;
  border: none;
  transition: background-color 0.2s, transform 0.2s;
}


/* レスポンシブ */
/* スマホ用 */
@media screen and (max-height: 768px){
    .profile-display-items { 
    padding-top: 130px;
    margin-top: 0px;
}
}

/* PC用 */
@media screen and (min-width: 769px){
    .profile-display-items { 
    padding-top: 140px;
    margin-top: 0px;
}
}

/*================ボディの表示部分===============*/

.profile-display-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-position-adjustment img{
  max-width: none;
}

.profile-display-items p{
  margin:5px;
}

.profile-subtitle{
  font-size: 24px;
}

#current-profile-icon{
  border-radius: 50%;
}

.button-position-adjustment{
  display: flex;
  flex-direction: row;
}

.button-position-adjustment-space{
  width: 50px;
  height: 40px;
  align-items: end;
}

#update-icon-button{
  padding: 0;
}

.button-image{
  width: 32px;
  height: 32px;
}

#email-side-adjustment{
  width: 50px;
  height: 40px;
  align-items: end;
}

#update-profile-button{
  padding: 0;
  height: 32px;
}