{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% block
body %}
<body class="error">
  <div class="error-wrapper">
    <div class="error-content">
      <div>
        <p class="error-num">5 0 0</p>
      </div>
      <div class="error-description error404or500">
        <p>エラーが発生しました。</p>
        <p>管理者にお問い合わせください。</p>
          <a class="error-button pink" href="{{ url_for('public_bookrooms_view') }}">戻る</a>
      </div>
    </div>
  </div>
   <video
    src="{{ url_for('static',filename='img/cat.mp4') }}"
    class="error-gif"
    autoplay
    loop
    muted>
    動画を再生できません。
  </video>
</body>
{% endblock %} {% block script %}
{% endblock %}